<nav class="navbar navbar-expand-lg sticky-top bg-transparent border-bottom"
    [ngClass]="{'shadow bg-body-tertiary': isScrolled || (NavToggler.checked && !isScrolled)}" style="z-index: 9999;">
    <div class="container-fluid d-flex">
        <button class="navbar-toggler d-flex d-xl-none p-1 me-2 rounded-circle fw-bolder border-0"
            [class.d-none]="!sideBarExists" (click)="NavToggler.checked = !NavToggler.checked"
            data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="bdNavbar">
            <input type="checkbox" class="visually-hidden" #NavToggler>
            <span class="navbar-toggler-icon"></span>
        </button>
        <a routerLink="/" class="d-block align-items-center text-decoration-none me-auto text-body">
            <app-logo class="me-1" width="2em" height="2em"></app-logo>
            <span class="fw-bolder h4 d-none d-lg-inline">{{appName}}</span>
        </a>

        <div class="mx-0 mx-lg-5"></div>
        <app-search-input class="flex-grow-1"></app-search-input>
        <div class="mx-0 mx-lg-5"></div>

        <button [ngClass]="{'d-none': (isLoggedIn | async)}" class="btn btn-primary rounded-pill mx-lg-3"
            routerLink="/auth/signin">Log In</button>

        <button [ngClass]="{'d-none': !(isLoggedIn | async)}" class="btn btn-ghost-secondary rounded-pill mx-lg-3"
            routerLink="/post/create">
            <i class="fa-solid fa-plus"></i>
            Create
        </button>

        <ul class="navbar-nav flex-row flex-wrap ms-md-auto gap-2">

            <!-- <li class="nav-item col-lg-auto d-flex align-items-center">
                <span *ngIf="switchThemeFunction != undefined">
                    <input type="checkbox" class="btn-check" id="btn-check-theme" autocomplete="off"
                        (click)="toggleTheme()">
                    <label
                        class="d-none d-lg-inline-block btn btn-outline-secondary border-light-subtle text-body bg-body-secondary rounded-circle p-2"
                        for="btn-check-theme">
                        <span *ngIf="isDark" class="d-flex">
                            <svg style="width: 1.25em; height: 1.25em; aspect-ratio: 1/1;"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M12 21q-3.75 0-6.375-2.625T3 12q0-3.75 2.625-6.375T12 3q.35 0 .688.025t.662.075q-1.025.725-1.638 1.888T11.1 7.5q0 2.25 1.575 3.825T16.5 12.9q1.375 0 2.525-.613T20.9 10.65q.05.325.075.662T21 12q0 3.75-2.625 6.375T12 21Z" />
                            </svg>
                        </span>
                        <span *ngIf="!isDark" class="d-flex">
                            <svg style="width: 1.25em; height: 1.25em; aspect-ratio: 1/1;"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M11 4V1h2v3h-2Zm0 19v-3h2v3h-2Zm9-10v-2h3v2h-3ZM1 13v-2h3v2H1Zm17.7-6.3l-1.4-1.4l1.75-1.8l1.45 1.45l-1.8 1.75ZM4.95 20.5L3.5 19.05l1.8-1.75l1.4 1.4l-1.75 1.8Zm14.1 0l-1.75-1.8l1.4-1.4l1.8 1.75l-1.45 1.45ZM5.3 6.7L3.5 4.95L4.95 3.5L6.7 5.3L5.3 6.7ZM12 18q-2.5 0-4.25-1.75T6 12q0-2.5 1.75-4.25T12 6q2.5 0 4.25 1.75T18 12q0 2.5-1.75 4.25T12 18Z" />
                            </svg>
                        </span>
                    </label>

                    <label
                        class="d-block d-lg-none btn btn-outline-secondary border-light-subtle text-body bg-body-secondary rounded-2 p-2"
                        for="btn-check-theme">
                        Giao diện:&nbsp;
                        <span *ngIf="isDark">
                            Tối
                        </span>
                        <span *ngIf="!isDark">
                            Sáng
                        </span>
                    </label>
                </span>
            </li> -->

            <li class="nav-item col-lg-auto d-flex align-items-center dropdown">
                <button class="btn btn-ghost-secondary rounded-circle p-2 dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    <i [ngClass]="{'d-none': (isLoggedIn | async)}"
                        class="fa-solid fa-ellipsis fs-5 d-flex align-items-center justify-content-center"
                        style="width: 1em; height: 1em;"></i>
                    <img [ngClass]="{'d-none': !(isLoggedIn | async)}"
                        src="https://api.dicebear.com/8.x/avataaars/svg?seed={{(user | async)?.username}}" alt=""
                        class="img-fluid rounded-circle w-100 h-100 bg-secondary-subtle shadow-sm"
                        style="aspect-ratio: 1/1; max-height: 2.5rem; max-width: 2.5rem; padding: 1px;">
                </button>
                <div class="dropdown-menu dropdown-menu-end mt-3 overflow-hidden overflow-y-auto thin-scrollbars fs-5"
                    style="max-height: 50dvh; min-width: 16rem;">
                    <ng-container *ngTemplateOutlet="(isLoggedIn | async) ? loggedInUserDropdown : guestDropdown">
                    </ng-container>
                    <ng-template #guestDropdown>
                        <a class="dropdown-item py-2 d-flex align-items-center" routerLink="/auth/signin">
                            <i style="width: 1em;" class="fa-solid fa-sign-in me-3 text-start"></i>
                            Log in / Sign up
                        </a>
                    </ng-template>

                    <ng-template #loggedInUserDropdown>
                        <a class="dropdown-item py-2 d-flex align-items-center"
                            routerLink="/user/{{(user | async)?.username}}">
                            <img [ngClass]="{'d-none': !(isLoggedIn | async)}"
                                src="https://api.dicebear.com/8.x/avataaars/svg?seed={{(user | async)?.username}}"
                                alt="" class="img-fluid rounded-circle w-100 h-100 bg-secondary-subtle shadow-sm me-1"
                                style="aspect-ratio: 1/1; max-height: 2rem; max-width: 2rem; padding: 1px;">
                            {{(user | async)?.username}}
                        </a>
                        <button class="dropdown-item py-2 d-flex align-items-center" (click)="logout()">
                            <i style="width: 1em;" class="fa-solid fa-sign-out me-3 text-start"></i>
                            Log Out
                        </button>
                    </ng-template>

                    <button class="dropdown-item py-2 d-flex align-items-center" (click)="toggleTheme()">
                        <i style="width: 1em;" class="fa-solid me-3 text-end {{isDark ? 'fa-moon' : 'fa-sun'}}"></i>
                        Theme:&nbsp;
                        <span *ngIf="isDark">
                            Dark
                        </span>
                        <span *ngIf="!isDark">
                            Light
                        </span>
                    </button>
                </div>
            </li>


        </ul>
    </div>
</nav>