<article class="card border-0 rounded-4 my-2">
    <div class="card-body py-2">
        <div class="d-flex justify-content-between align-items-center small text-muted mb-2">
            <div class="d-flex gap-2 align-items-center">
                <img src="https://api.dicebear.com/8.x/avataaars/svg?seed={{post.user.username}}" alt=""
                    routerLink="/user/{{post.user.username}}"
                    class="img-fluid rounded-circle w-100 h-100 bg-secondary-subtle shadow-sm"
                    style="aspect-ratio: 1/1; max-height: 2.5rem; max-width: 2.5rem; padding: 1px;">
                <div class="d-flex align-items-start align-items-sm-center gap-0 gap-sm-2 flex-column flex-sm-row">
                    <a routerLink="/user/{{post.user.username}}"
                        class="fw-semibold text-decoration-none">{{post.user.displayName}}</a>
                    <div class="d-none d-sm-block">•</div>
                    <div>{{post.createdAt | dateAgo}}</div>
                </div>
            </div>
            <div class="d-flex gap-2">
                <!-- <button class="btn btn-primary btn-sm rounded-pill px-3 py-1 d-block fw-semibold">Follow</button> -->
                <button class="btn btn-outline-secondary btn-sm rounded-pill p-1">
                    <i class="fa-solid fa-ellipsis d-flex align-items-center justify-content-center"
                        style="width: 1.5rem; height: 1.5rem;"></i></button>
            </div>
        </div>

        <a routerLink="/post/{{post.id}}"
            class="stretched-link h4 fw-semibold m-0 mb-2 text-decoration-none text-reset text-ellipsis line-clamp-2">
            {{post.title}}
        </a>
        <div class="mb-2">
            <div class="card-text-preview text-ellipsis line-clamp-3">
                <div [innerHTML]="post.body | htmlToPlainText"></div>
            </div>
        </div>
        <div class="d-flex flex-nowrap gap-2 overflow-x-auto mb-2">
            @for (tag of post.tags; track tag) {
            <a class="tag" routerLink="/tag/{{tag.name}}">#{{tag.name}}</a>
            }
        </div>
        <div class="d-flex gap-2">
            <button class="btn btn-sm btn-outline-secondary text-body rounded-pill d-flex align-items-center px-2">
                <i class="bi bi-hand-thumbs-up me-2 ms-1" style="transform: scale(1.2);"></i>
                <span class="fw-semibold me-1">1.2K</span>
            </button>
            <a routerLink="/post/{{post.id}}"
                class="btn btn-sm btn-outline-secondary text-body rounded-pill d-flex align-items-center px-2">
                <i class="bi bi-chat-square me-2 ms-1" style="transform: scale(1.2);"></i>
                <span class="fw-semibold me-1">{{post.comments.length}}</span>
            </a>
        </div>
    </div>
</article>