<ng-container appNoWrapper="Parent">
    <div class="row">
        <div class="col m-lg-0 m-0 mx-sm-5">
            <main class="py-2">
                <div class="bg-body-secondary rounded w-100 overflow-hidden" style="height: 16rem;">
                    <img alt="Random image" src="https://random-image-pepebigotes.vercel.app/api/random-image"
                        class="w-100 h-100 object-fit-cover" style="max-height: 16rem;">
                </div>

                <div class="d-flex mx-3">
                    <div class="avatar rounded-circle overflow-hidden me-3 bg-body-secondary p-1">
                        <img src="https://api.dicebear.com/8.x/avataaars/svg?seed={{(user$|async)?.username}}"
                            alt="avatar" class="rounded-circle object-fit-cover bg-info" />

                        <!-- <img src="https://api.dicebear.com/8.x/avataaars/svg?seed={{(user|async)?.username}}" alt="avatar"
                                class="rounded-circle object-fit-cover d-inline-block me-3 bg-info"
                                style="height: 10rem; aspect-ratio: 1/1; margin-top: -5rem;" /> -->
                    </div>

                    <div class="d-flex flex-column">
                        <p class="h3">{{(user$|async)?.displayName}}</p>
                        <div class="text-muted">{{(user$|async)?.username}}</div>
                    </div>

                    <div class="d-flex align-items-center ms-auto" *ngIf="!isLoggedInUserProfile">
                        <button [class.d-none]="isFollowing" class="btn btn-primary rounded-pill fw-semibold"
                            (click)="follow()" [disabled]="isWaitingForFollowEvent">
                            Follow
                            <div class="spinner-border ms-1" [class.d-none]="!isWaitingForFollowEvent"
                                style="width: 1em; height: 1em;"></div>
                        </button>
                        <button [class.d-none]="!isFollowing" class="btn btn-secondary rounded-pill fw-semibold"
                            (click)="unfollow()" [disabled]="isWaitingForFollowEvent">
                            Following
                            <div class="spinner-border ms-1" [class.d-none]="!isWaitingForFollowEvent"
                                style="width: 1em; height: 1em;"></div>
                        </button>
                    </div>
                </div>

                <ul class="nav nav-pills mt-5 gap-3">
                    <li class="nav-item">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-1"
                            type="button">About</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2"
                            type="button">Posts</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3"
                            type="button">Comments</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane py-3 active" id="tab-1">
                        <div *ngIf="(user$|async)?.biography">{{(user$|async)?.biography}}</div>
                        <div *ngIf="!(user$|async)?.biography">{{(user$|async)?.displayName}} hasn't updated their
                            biography yet</div>
                    </div>
                    <div class="tab-pane py-3" id="tab-2">
                        <div class="d-flex flex-column">
                            <app-post-sroll-pagination></app-post-sroll-pagination>
                        </div>
                    </div>
                    <div class="tab-pane py-3" id="tab-3">
                        <ng-container *ngIf="comments$ | async as comments; else loading">
                            <div *ngFor="let comment of comments">
                                <a class="d-flex flex-column mb-4 text-decoration-none px-3"
                                    routerLink="/post/{{comment.post.id}}">
                                    <p class="mb-2 fw-medium text-ellipsis line-clamp-2">{{comment.body}}</p>
                                    <span class="text-muted small mb-1 text-ellipsis">commented on
                                        <span class="fw-semibold">{{comment.post.title}}</span></span>
                                    <span class="text-muted small">{{comment.createdAt | date}}</span>
                                </a>
                            </div>

                            <div class="" *ngIf="comments.length==0">
                                {{(user$|async)?.displayName}} hasn't commented on any post
                            </div>
                        </ng-container>

                        <ng-template #loading>
                            <div class="d-flex justify-content-center align-items-center py-5">
                                <div class="spinner-border"></div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </main>
        </div>
        <div
            class="col-lg-4 col-xxl-3 d-none d-lg-block border-start overflow-y-auto overflow-x-hidden sticky-top z-1 user-select-none styled-scrollbars h-screen-without-header top-without-header">
            <aside>
                <div class="my-2 p-3 rounded bg-body-tertiary" *ngIf="user$ | async as user">
                    <div class="d-flex justify-content-between align-items-center text-muted mb-4">
                        <div class="d-flex gap-2 align-items-center">
                            <img src="https://api.dicebear.com/8.x/avataaars/svg?seed={{user.username}}" alt=""
                                routerLink="/user/{{user.username}}"
                                class="img-fluid rounded-circle w-100 h-100 bg-secondary-subtle shadow-sm"
                                style="aspect-ratio: 1/1; max-height: 2.5rem; max-width: 2.5rem; padding: 1px;">
                            <div
                                class="d-flex align-items-start align-items-sm-center gap-0 gap-sm-2 flex-column flex-sm-row">
                                <a routerLink="/user/{{user.username}}"
                                    class="fw-semibold text-decoration-none">{{user.displayName}}</a>
                            </div>
                        </div>
                        <div class="d-flex gap-2" *ngIf="!isLoggedInUserProfile">
                            <button [class.d-none]="isFollowing"
                                class="btn btn-primary btn-sm rounded-pill px-3 py-1 d-block fw-semibold"
                                (click)="follow()" [disabled]="isWaitingForFollowEvent">
                                Follow
                                <div class="spinner-border ms-1" [class.d-none]="!isWaitingForFollowEvent"
                                    style="width: 1em; height: 1em;"></div>
                            </button>
                            <button [class.d-none]="!isFollowing"
                                class="btn btn-secondary btn-sm rounded-pill px-3 py-1 d-block fw-semibold"
                                (click)="unfollow()" [disabled]="isWaitingForFollowEvent">
                                Following
                                <div class="spinner-border ms-1" [class.d-none]="!isWaitingForFollowEvent"
                                    style="width: 1em; height: 1em;"></div>
                            </button>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="d-flex flex-column flex-grow-1 mb-4" style="flex-basis: 0;">
                            <h6 class="mb-1 text-uppercase text-muted small">Joined on</h6>
                            <span>{{user.createdAt | date}}</span>
                        </div>
                        <div class="d-flex align-items-center mb-4">
                            <div class="d-flex flex-column flex-grow-1" style="flex-basis: 0;">
                                <h6 class="mb-1 text-uppercase small text-muted">Post</h6>
                                <span>{{user.posts.length}}</span>
                            </div>
                            <div class="d-flex flex-column flex-grow-1" style="flex-basis: 0;">
                                <h6 class="mb-1 text-uppercase small text-muted">Comment</h6>
                                <span>{{(comments$ | async)?.length || 0}}</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="d-flex flex-column flex-grow-1" style="flex-basis: 0;">
                                <h6 class="mb-1 text-uppercase small text-muted">Follower</h6>
                                <span>{{user.followers.length}}</span>
                            </div>
                            <div class="d-flex flex-column flex-grow-1" style="flex-basis: 0;">
                                <h6 class="mb-1 text-uppercase small text-muted">Following</h6>
                                <span>{{user.following.length}}</span>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="isLoggedInUserProfile">
                        <div class="border-top"></div>
                        <div class="d-flex flex-column flex-grow-1 my-4" style="flex-basis: 0;">
                            <h6 class="text-uppercase text-muted small mb-3">Settings</h6>
                            <div class="d-flex flex-column w-100 mb-3">
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-person-lines-fill me-3 fs-3"></i>
                                    <div class="d-flex flex-column">
                                        <span>Profile</span>
                                        <span class="text-muted small">Update your information</span>
                                    </div>
                                    <button class="btn btn-secondary fw-semibold rounded-pill ms-auto p-2">Edit
                                        Profile</button>
                                </div>
                            </div>
                            <div class="d-flex flex-column w-100">
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-person-bounding-box me-3 fs-3"></i>
                                    <div class="d-flex flex-column">
                                        <span>Avatar</span>
                                        <span class="text-muted small">Customize and style</span>
                                    </div>
                                    <button class="btn btn-secondary fw-semibold rounded-pill ms-auto p-2">Edit
                                        Avatar</button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="p-3 rounded">

                </div>
            </aside>
        </div>
    </div>
</ng-container>